*{
    margin: 0;
    padding:
}

.cabeçalho {
    background-color: #a51d68;
    color: white;
    display:flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px 0;
}

.cabeçalho-imagem{
    width: 20%;
}

.cabecalho-lista-item{
    display: inline-block;
    margin: 0 16px;
    font-size: 24px;
    font-family: 'Courier New', Courier, monospace;

 }
 .turma{
     background-image: linear-gradient(#a51d68,#6b0000);
     color:white;
     display: flex;
     justify-content: center;
     align-items: center;
     padding: 24px 0;
}
.Veterinary-imagem{
    width:25%;
}
.conteudo{
    width: 35%;
    font-size: 20px;
}
.animal-titulo{
    padding: 20px 0;
}